<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <!-- <div>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus, cum soluta! Enim nihil animi nemo cum, dignissimos velit cupiditate nostrum ipsum perferendis sapiente debitis numquam molestiae maxime. Ullam, optio pariatur.</p>
    </div> -->
    
    <div>
        
        <div>
            <form method="POST" class="addblog" action="/add">
                <input id="title" class="m-3" name="title" placeholder="Enter title" required>
                <input id="author" name="author" class="m-3" placeholder="Enter author" required>
                <!-- <input id="content" placeholder="Enter content" > -->
                <textarea id="content" name="content" class="m-3"  rows="25" cols="50" required></textarea>
                <!-- <input type="file" class="m-3"  onchange="document.getElementById('image').value = window.URL.createObjectURL(this.files[0])" > -->
                
                <!-- <input type="text"  readonly >  -->
                <input type="file" class="m-3" accept="image/png, image/jpeg, image/jpg" onchange="convertToBase64(this)" >
                <input type='text' name="image" id="image" required readonly hidden ></input>
                <button type="submit" id="subButton" class="m-3">Submit</button>
            </form>

        </div>
        
        
    </div>

    <script>
        function convertToBase64(input) {
            const selectedFile = input.files[0];

            if (selectedFile) {
                const reader = new FileReader();

                reader.onload = function () {
                const base64String = reader.result.split(',')[1];
                document.getElementById('image').value = base64String;
                };

                reader.readAsDataURL(selectedFile);
            }
            }

        function getBase64(file) {

            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                return reader.result;
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }
    </script>
</body>
</html>